$primary-color: #2c3e50;
$secondary-color: #777;
$dark-gray-color: #404040;
$light-gray-color: #f6f6f6;
$hover-color: #e3e1e1;
$white-color: #fff;
$border-color: #e1e0e0;
$link-color: #297fb8;

$font-family: "Open Sans", sans-serif;

$font-size-xsmall: 0.6rem;
$font-size-small: 0.7rem;
$font-size-medium: 0.8rem;
$font-size-large: 0.9rem;
$font-size-xlarge: 1.4rem;

@mixin flex($justify: flex-start, $align: stretch) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin hover-effect($color) {
  &:hover {
    background-color: $color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  }
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: $top $right $bottom $left;
}

@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding: $top $right $bottom $left;
}

@mixin border($width: 1px, $style: solid, $color: $border-color, $sides: all) {
  @if $sides == all {
    border: $width $style $color;
  } @else {
    @if $sides == top {
      border-top: $width $style $color;
    } @else if $sides == right {
      border-right: $width $style $color;
    } @else if $sides == bottom {
      border-bottom: $width $style $color;
    } @else if $sides == left {
      border-left: $width $style $color;
    }
  }
}

@mixin text-style($size: $font-size-medium, $color: $primary-color) {
  font-size: $size;
  color: $color;
}

.blue {
  background-color: rgb(41, 127, 184);
  color: white;
}

.red {
  background-color: rgb(219, 63, 63);
  color: white;
}

.white {
  background-color: white;
  color: black;
}
