.sidebar {
  max-height: 100vh;
  width: 200px;
  @include flex($justify: start);
  flex-direction: column;
  @include text-style($size: $font-size-small, $color: $secondary-color);
  @include border(1px, solid, $border-color, right);

  .sidebar__navigation {
    overflow-y: auto;
    scrollbar-width: thin;
    .sidebar__section {
      .sidebar__title {
        @include padding($left: 1rem);
        text-transform: uppercase;
      }

      .sidebar__sublist {
        .sidebar__item {
          @include padding($top: 0.5rem, $left: 1rem, $bottom: 0.5rem);
          @include hover-effect($hover-color);
          font-size: $font-size-large;

          .sidebar__icon {
            @include margin($right: 1rem);
          }
        }
      }
    }
  }

  .sidebar__header {
    @include flex($justify: start, $align: center);
    @include margin($top: 1rem, $right: 1rem, $bottom: 1rem, $left: 1rem);

    .sidebar__header-content {
      @include margin($left: 1rem);

      .sidebar__header-title {
        @include text-style($size: $font-size-medium, $color: $primary-color);
      }

      .sidebar__header-subtitle {
        @include margin($top: 0.2rem);
      }
    }
  }

  .sidebar__footer {
    text-align: center;
    @include padding($top: 1rem, $bottom: 1rem);
    @include border($width: 1px, $style: solid, $sides: top);

    .sidebar__footer-text {
      @include margin($bottom: 0.5rem);
    }

    .sidebar__footer-link {
      @include text-style($size: $font-size-medium, $color: $link-color);
      text-decoration: none;
    }
  }
}
